# Rust
/target
Cargo.lock

# Node / npm
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE / OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db
/.npmrc
# Manter intencionalmente os arquivos da pasta pkg para o npm
# Certifique-se que o campo "files" no package.json está correto
